.colorInput {
  background: transparent;
  -webkit-appearence: none;
  -moz-appearence: none;
  appearence: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  margin-left: auto;
}
.colorInput::-webkit-color-swatch {
  border: 2px solid white;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 8px -1px rgba(0, 0, 0, 0.75);
}

.colorInput::-moz-color-swatch {
  border: 2px solid white;
  border-radius: 8px;
}

.colorSelectorContainer {
  display: flex;
  width: calc(100% - 2rem);
  padding-inline: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #343434;
}
.label {
  color: white;
}
