@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.watermark {
  position: absolute;
  bottom: 2%;
  right: 5%;
  z-index: 1;
  font-size: 1.5rem;
  color: white;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
