.button {
  background: linear-gradient(180deg, #8338ec 0%, rgba(34, 11, 66, 0.36) 100%);
  padding: 1rem;
  color: white;
  border: white;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-transform: capitalize;
}
