.descriptionWrapper {
  width: 90%;
  margin-inline: auto;
  font-family: var(--primary-font);
  color: white;
  font-weight: 700;
  font-size: clamp(24px, 3vw, 48px);
  text-align: center;
}
.descriptionWrapper span {
  background: linear-gradient(to right, #f093fb 0%, #f5576c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*#7928CA*/
