@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

:root {
  --primary-font: "Ubuntu", sans-serif;
  --bg-primary: rgba(17, 17, 17, 0.9);
}
body {
  overflow-x: hidden;
}
.App {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(5, 5, 5, 0.94);
  background-image: url("./assets/dots.svg");
  background-size: 5%;
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(36, 36, 36);
  border-radius: 10px;
  background-color: var(--bg-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
