.label {
  color: white;
}
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 8px;
  outline: none;
  border-radius: 8px;
  padding: 0px !important;
}
.slider::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 22px;
  width: 22px;
  border-radius: 22px;
  background: #8338ec;
  cursor: pointer;
  -webkit-appearance: none;
}

/* for firefox */
.slider::-moz-range-thumb {
  width: 20px;
  height: 60px;
  background: #000;
  cursor: pointer;
  border: 5px solid purple;
  border-radius: 4px;
}

.labelWrapper > span {
  opacity: 0.7;
  margin-left: 8px;
  font-size: 12px;
  background-color: rgba(38, 38, 38, 1);
  color: rgba(163, 163, 163, 1);
  border: 1px solid rgba(163, 163, 163, 1);
  border-radius: 4px;
  padding: 2px 4px;
}
